.photo {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #ffb6d9;
  margin-bottom: 20px;
  box-shadow: 0 0 20px pink;

}
body {
  background: linear-gradient(#ffd6e7, #fff);
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 60px;
}

.card {
  background: white;
  max-width: 500px;
  margin: auto;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 0 20px pink;
}

h1 {
  color: #ff4f9a;
}

p {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
}

h2 {
  color: #ff4f9a;
}

.heart {
  font-size: 50px;
  animation: beat 1s infinite;
}

@keyframes beat {
  50% {
    transform: scale(1.2);
  }
}
.confetti {
  position: fixed;
  top: -10px;
  width: 10px;
  height: 10px;
  background: #ff4f9a;
  animation: fall 3s linear infinite;
}

.confetti:nth-child(2) {
  left: 20%;
  animation-delay: 1s;
}

.confetti:nth-child(3) {
  left: 40%;
  animation-delay: 2s;
}

.confetti:nth-child(4) {
  left: 60%;
  animation-delay: 0.5s;
}

.confetti:nth-child(5) {
  left: 80%;
  animation-delay: 1.5s;
}

.confetti:nth-child(6) {
  left: 90%;
  animation-delay: 2.5s;
}

@keyframes fall {
  to {
    transform: translateY(100vh) rotate(360deg);
  }
}
